# fly.toml app configuration file generated for hex-search on 2023-07-13T12:09:51-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "hex-search"
primary_region = "ord"
kill_signal = "SIGTERM"

[env]
  PHX_HOST = "hex-search.fly.dev"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

[mounts]
  source = "litefs"
  destination = "/var/lib/litefs"
